.image {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.container {
  display: inline-block;
  position: relative;
}

.productMainText {
  position: absolute;
  left: 240px;
  top: 145px;
  font-size: 40px;
  font-family: 'Marcellus';
  font-weight: bold;
}

.productSecondaryText {
  position: absolute;
  left: 240px;
  top: 210px;
  font-size: 26px;
  font-family: 'Marcellus';
  font-weight: thin;
}

.productBtn {
  position: absolute;
  left: 240px;
  top: 275px;
  font-size: 26px;
  font-size: 26px;
  font-family: 'Marcellus';
  font-weight: thin;
  width: 200px;
  padding: 8px;
  background: transparent;
  border-width: 1px;
  transition: all 0.4s;
}

.productBtn:hover {
  background-color: #E6B800;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.serviceMainText {
  position: absolute;
  right: 240px;
  top: 145px;
  font-size: 40px;
  font-family: 'Marcellus';
  font-weight: bold;
  color: white;
}

.serviceSecondaryText {
  position: absolute;
  right: 240px;
  top: 210px;
  font-size: 26px;
  font-family: 'Marcellus';
  font-weight: thin;
  color: white;
}

.serviceBtn {
  position: absolute;
  right: 240px;
  top: 275px;
  font-size: 26px;
  font-size: 26px;
  font-family: 'Marcellus';
  font-weight: thin;
  color: white;
  width: 200px;
  padding: 8px;
  background: transparent;
  border-width: 1px;
  border-color: white;
  transition: all 0.4s;
}

.serviceBtn:hover {
  background-color: #E6B800;
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}