.container {
  max-width: 460px;
  width: 100%;
  height: fit-content;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.image {
  max-width: 200px;
  max-height: 200px;
}

.body {
  background-color: #fafafa;
}

.btnDetail {
  font-family: 'Marcellus';
  font-weight: thin;
  width: 100%;
  padding: 8px;
  background: transparent;
  border-width: 1px;
  border-color: #4C9A4C;
  color: #4C9A4C;
  transition: all 0.4s;
}

.btnDetail:hover {
  background-color: #4C9A4C;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btnDetail:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btnDetail:disabled:hover {
  background: transparent;
  color: #4C9A4C;
  box-shadow: none;
}